In [25]:
import pandas as pd
import sqlite3

In [26]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [27]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [28]:
conn = sqlite3.connect("restaurants.db")

In [29]:


pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)

Empty DataFrame
Columns: [name]
Index: []

In [30]:
final_dataset = pd.merge(
    orders,
    users,
    how="left",
    on="user_id"
)

final_dataset.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular

In [34]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=final_dataset)

MessageError: Error: credential propagation was unsuccessful

In [31]:
final_dataset.shape

(10000, 9)

In [32]:
final_dataset.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership'],
      dtype='object')

In [33]:
final_dataset.to_csv(
    "final_food_delivery_dataset.csv",
    index=False
)

In [35]:
gold_members = final_dataset[final_dataset['membership'] == 'Gold']

In [36]:
city_revenue = gold_members.groupby('city')['total_amount'].sum().reset_index()
city_revenue = city_revenue.sort_values(by='total_amount', ascending=False)
city_revenue

        city  total_amount
1    Chennai    1080909.79
3       Pune    1003012.32
0  Bangalore     994702.59
2  Hyderabad     896740.19

In [37]:
top_city = city_revenue.iloc[0]['city']
top_revenue = city_revenue.iloc[0]['total_amount']

print(f"City with highest revenue from Gold members: {top_city} ({top_revenue})")

City with highest revenue from Gold members: Chennai (1080909.79)

In [41]:
user_total = final_dataset.groupby('user_id')['total_amount'].sum().reset_index()
user_total.head()

   user_id  total_amount
0        1       1289.66
1        2       7564.12
2        3       1839.51
3        4       3741.16
4        5       5742.88

In [42]:
high_value_users = user_total[user_total['total_amount'] > 1000]
high_value_users.shape[0]

2544

In [44]:
['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount', 'restaurant_name', 'name', 'city', 'membership']

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name',
 'name',
 'city',
 'membership']

In [47]:
gold_members = final_dataset[final_dataset['membership'] == 'Gold']

In [48]:
avg_order_city = gold_members.groupby('city')['total_amount'].mean().reset_index()
avg_order_city = avg_order_city.sort_values(by='total_amount', ascending=False)
avg_order_city

        city  total_amount
1    Chennai    808.459080
2  Hyderabad    806.421034
0  Bangalore    793.223756
3       Pune    781.162243

In [49]:
top_city_avg = avg_order_city.iloc[0]['city']
top_avg_value = avg_order_city.iloc[0]['total_amount']

print(f"City with highest average order value among Gold members: {top_city_avg} ({top_avg_value:.2f})")

City with highest average order value among Gold members: Chennai (808.46)

In [50]:
# Add cuisine column if not already done
restaurant_cuisine = {
    'Tandoori Delight': 'Indian',
    'Dragon Wok': 'Chinese',
    'Pasta House': 'Italian',
    'Mexicana': 'Mexican'
    # Add all your restaurants here
}

final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

In [51]:
restaurants_per_cuisine = final_dataset.groupby('cuisine_type')['restaurant_name'].nunique().reset_index()
restaurants_per_cuisine = restaurants_per_cuisine.rename(columns={'restaurant_name': 'num_restaurants'})
restaurants_per_cuisine

Empty DataFrame
Columns: [cuisine_type, num_restaurants]
Index: []

In [52]:
revenue_per_cuisine = final_dataset.groupby('cuisine_type')['total_amount'].sum().reset_index()
revenue_per_cuisine = revenue_per_cuisine.rename(columns={'total_amount': 'total_revenue'})
revenue_per_cuisine

Empty DataFrame
Columns: [cuisine_type, total_revenue]
Index: []

In [53]:
cuisine_summary = pd.merge(restaurants_per_cuisine, revenue_per_cuisine, on='cuisine_type')
cuisine_summary

Empty DataFrame
Columns: [cuisine_type, num_restaurants, total_revenue]
Index: []

In [56]:
total_orders = final_dataset.shape[0]  # Total number of rows/orders

In [57]:
gold_orders = final_dataset[final_dataset['membership'] == 'Gold'].shape[0]

In [59]:
percent_gold = round((gold_orders / total_orders) * 100)
print(f"Percentage of orders placed by Gold members: {percent_gold}%")

Percentage of orders placed by Gold members: 50%

In [60]:
restaurant_stats = final_dataset.groupby('restaurant_name').agg(
    total_orders=('order_id', 'count'),
    avg_order_value=('total_amount', 'mean')
).reset_index()

In [61]:
small_restaurants = restaurant_stats[restaurant_stats['total_orders'] < 20]

In [62]:
top_restaurant = small_restaurants.sort_values(by='avg_order_value', ascending=False).iloc[0]

print(f"Restaurant: {top_restaurant['restaurant_name']}")
print(f"Average order value: {top_restaurant['avg_order_value']:.2f}")
print(f"Total orders: {top_restaurant['total_orders']}")

Restaurant: Hotel Dhaba Multicuisine
Average order value: 1040.22
Total orders: 13

In [63]:
restaurant_cuisine = {
    'Tandoori Delight': 'Indian',
    'Dragon Wok': 'Chinese',
    'Pasta House': 'Italian',
    'Mexicana': 'Mexican'
    # Add all your restaurants here
}

final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

In [64]:
combo_revenue = final_dataset.groupby(['membership', 'cuisine_type'])['total_amount'].sum().reset_index()
combo_revenue = combo_revenue.sort_values(by='total_amount', ascending=False)
combo_revenue

Empty DataFrame
Columns: [membership, cuisine_type, total_amount]
Index: []

In [67]:
# Check which restaurants are missing in mapping
missing_restaurants = final_dataset.loc[final_dataset['restaurant_name'].isna() |
                                       ~final_dataset['restaurant_name'].isin(restaurant_cuisine.keys()),
                                       'restaurant_name'].unique()
print("Restaurants missing cuisine mapping:", missing_restaurants)

Restaurants missing cuisine mapping: ['New Foods Chinese' 'Ruchi Curry House Multicuisine'
 'Spice Kitchen Punjabi' 'Darbar Kitchen Non-Veg'
 'Royal Eatery South Indian' 'Annapurna Tiffins South Indian'
 'Royal Biryani North Indian' 'Spice Mess Punjabi' 'Ruchi Biryani Punjabi'
 'Taste of Biryani Non-Veg' 'Amma Delights Family Restaurant'
 'Royal Tiffins Multicuisine' 'Amma Tiffins South Indian'
 'Grand Cafe Punjabi' 'Amma Biryani North Indian'
 'Amma Restaurant South Indian' 'Ruchi Foods Chinese'
 'Darbar Delights South Indian' 'Spice Mess Andhra'
 'Udupi Curry House South Indian' 'Darbar Restaurant North Indian'
 'Sri Tiffins Andhra' 'Darbar Mess Pure Veg' 'Amma Kitchen Punjabi'
 'Annapurna Kitchen Family Restaurant' 'New Cafe North Indian'
 'Swagath Cafe Multicuisine' 'Ruchi Foods South Indian'
 'Annapurna Eatery Non-Veg' 'Amma Restaurant Pure Veg'
 'Amma Dhaba Non-Veg' 'Classic Curry House South Indian'
 'Annapurna Foods Non-Veg' 'Darbar Biryani Pure Veg'
 'Ruchi Dhaba Multicuisine' 'Amma Cafe Non-Veg'
 'Spice Tiffins Family Restaurant' 'Sri Delights Non-Veg'
 'Sri Curry House Andhra' 'Annapurna Biryani South Indian'
 'Royal Foods Non-Veg' 'Sri Foods Chinese' 'Classic Tiffins Punjabi'
 'Amma Foods Family Restaurant' 'Swagath Kitchen North Indian'
 'Amma Mess Pure Veg' 'New Delights North Indian'
 'Grand Curry House Family Restaurant' 'Hotel Cafe Punjabi'
 'Annapurna Delights Multicuisine' 'Darbar Eatery Family Restaurant'
 'Spice Biryani Punjabi' 'Swagath Delights Andhra' 'Royal Dhaba Punjabi'
 'Hotel Mess Punjabi' 'Sai Delights Chinese'
 'Royal Restaurant South Indian' 'Udupi Kitchen Chinese'
 'Annapurna Eatery South Indian' 'Hotel Curry House Non-Veg'
 'Spice Kitchen North Indian' 'Swagath Delights Punjabi'
 'Grand Cafe Family Restaurant' 'Amma Cafe North Indian'
 'New Foods Multicuisine' 'Hotel Delights Chinese'
 'Sai Curry House Punjabi' 'Spice Mess Chinese'
 'Ruchi Mess Family Restaurant' 'Classic Cafe Family Restaurant'
 'Hotel Eatery Pure Veg' 'Classic Dhaba Punjabi' 'Sri Dhaba Pure Veg'
 'Sri Kitchen Family Restaurant' 'Amma Delights Chinese'
 'Hotel Curry House Chinese' 'Spice Cafe Pure Veg'
 'Ruchi Mess Multicuisine' 'Hotel Cafe Multicuisine'
 'Hotel Biryani Pure Veg' 'Royal Curry House Multicuisine'
 'Annapurna Restaurant Pure Veg' 'Royal Kitchen Family Restaurant'
 'Classic Delights North Indian' 'Taste of Dhaba Andhra'
 'Sai Restaurant Family Restaurant' 'New Biryani Family Restaurant'
 'Taste of Kitchen Family Restaurant' 'Taste of Biryani Punjabi'
 'Annapurna Biryani Non-Veg' 'Classic Tiffins Pure Veg'
 'New Dhaba South Indian' 'Grand Cafe Chinese' 'Taste of Biryani Andhra'
 'Spice Cafe South Indian' 'Udupi Foods South Indian'
 'Swagath Dhaba Punjabi' 'Amma Biryani South Indian'
 'Swagath Delights Multicuisine' 'Grand Restaurant Pure Veg'
 'Annapurna Tiffins Punjabi' 'Ruchi Curry House Andhra'
 'Royal Tiffins Family Restaurant' 'Grand Biryani Pure Veg'
 'Darbar Foods Andhra' 'Taste of Tiffins North Indian'
 'Amma Eatery Non-Veg' 'Hotel Curry House Punjabi'
 'Udupi Delights Family Restaurant' 'Annapurna Foods Multicuisine'
 'Spice Curry House Andhra' 'Darbar Restaurant Family Restaurant'
 'Sai Biryani Non-Veg' 'Annapurna Biryani Andhra'
 'Classic Biryani Chinese' 'Amma Curry House Family Restaurant'
 'Classic Delights Multicuisine' 'Royal Delights South Indian'
 'Annapurna Biryani Multicuisine' 'Sai Tiffins Chinese'
 'Udupi Mess Andhra' 'Annapurna Tiffins Pure Veg'
 'Classic Biryani Pure Veg' 'Classic Biryani Multicuisine'
 'Annapurna Restaurant Andhra' 'Grand Mess Punjabi'
 'New Curry House South Indian' 'Sri Curry House Chinese'
 'Grand Dhaba South Indian' 'Sri Cafe North Indian'
 'Ruchi Curry House Pure Veg' 'Taste of Kitchen Chinese'
 'Classic Delights Family Restaurant' 'Swagath Delights South Indian'
 'Sai Dhaba Family Restaurant' 'Ruchi Mess Non-Veg'
 'Darbar Eatery North Indian' 'Hotel Delights Multicuisine'
 'Annapurna Mess Non-Veg' 'Hotel Cafe South Indian'
 'Grand Restaurant Non-Veg' 'Swagath Foods Punjabi'
 'Sri Biryani Family Restaurant' 'Ruchi Tiffins Multicuisine'
 'Ruchi Eatery North Indian' 'Swagath Restaurant North Indian'
 'Sai Eatery Andhra' 'Grand Restaurant South Indian'
 'Spice Tiffins North Indian' 'Sai Biryani Multicuisine'
 'Ruchi Dhaba Chinese' 'Grand Tiffins South Indian'
 'Taste of Eatery Andhra' 'Grand Curry House Andhra'
 'Amma Curry House Punjabi' 'Sai Cafe North Indian' 'Sri Foods Non-Veg'
 'Annapurna Biryani Family Restaurant' 'Sai Foods Pure Veg'
 'Hotel Kitchen Multicuisine' 'New Dhaba Family Restaurant'
 'Swagath Mess Pure Veg' 'Swagath Tiffins Chinese'
 'Annapurna Curry House Multicuisine' 'Udupi Kitchen Multicuisine'
 'Annapurna Cafe Andhra' 'Spice Foods Non-Veg' 'Classic Mess Punjabi'
 'Sai Foods Family Restaurant' 'Spice Tiffins Chinese'
 'Grand Kitchen Non-Veg' 'Sai Delights Non-Veg' 'Ruchi Cafe Punjabi'
 'Spice Delights Family Restaurant' 'Sai Cafe South Indian'
 'Spice Dhaba Non-Veg' 'Darbar Delights Andhra' 'Spice Delights Andhra'
 'Taste of Eatery Punjabi' 'Spice Tiffins Pure Veg'
 'Royal Tiffins Punjabi' 'New Dhaba Pure Veg' 'Annapurna Delights Andhra'
 'Annapurna Tiffins North Indian' 'Udupi Delights Non-Veg'
 'Darbar Restaurant Multicuisine' 'Darbar Foods Multicuisine'
 'Swagath Curry House Chinese' 'Ruchi Restaurant South Indian'
 'Sai Foods Non-Veg' 'Taste of Delights Non-Veg' 'Darbar Tiffins Andhra'
 'Taste of Biryani North Indian' 'Sri Mess North Indian'
 'Sai Restaurant Non-Veg' 'Royal Kitchen North Indian'
 'Swagath Mess Multicuisine' 'Grand Restaurant North Indian'
 'Swagath Eatery Multicuisine' 'Ruchi Foods Multicuisine'
 'Spice Biryani Non-Veg' 'Sai Cafe Andhra'
 'Hotel Curry House North Indian' 'Swagath Mess Chinese'
 'Darbar Mess Chinese' 'Sai Restaurant South Indian'
 'Spice Delights Multicuisine' 'Amma Cafe South Indian'
 'Spice Restaurant Non-Veg' 'Swagath Biryani Non-Veg'
 'Classic Tiffins North Indian' 'Royal Kitchen South Indian'
 'Sri Curry House North Indian' 'Udupi Dhaba Non-Veg'
 'Swagath Foods Chinese' 'Hotel Delights South Indian'
 'Amma Mess Multicuisine' 'Udupi Eatery North Indian'
 'Classic Cafe Punjabi' 'Swagath Foods Andhra' 'New Tiffins Non-Veg'
 'Ruchi Foods Family Restaurant' 'Ruchi Delights South Indian'
 'Amma Foods Non-Veg' 'Hotel Foods Multicuisine'
 'Grand Tiffins Multicuisine' 'Swagath Tiffins Punjabi'
 'Ruchi Cafe Multicuisine' 'Swagath Tiffins Andhra' 'Amma Mess Punjabi'
 'Sai Delights Pure Veg' 'Sai Mess Andhra' 'Grand Kitchen Punjabi'
 'Annapurna Mess Andhra' 'Swagath Cafe Non-Veg'
 'Udupi Restaurant South Indian' 'Darbar Eatery Pure Veg'
 'Royal Tiffins Pure Veg' 'Taste of Mess Chinese' 'New Mess Andhra'
 'Royal Eatery Family Restaurant' 'Ruchi Restaurant Punjabi'
 'Hotel Biryani North Indian' 'Hotel Restaurant Non-Veg'
 'Royal Tiffins Chinese' 'New Biryani North Indian'
 'Annapurna Kitchen North Indian' 'Annapurna Restaurant Punjabi'
 'Sri Tiffins North Indian' 'Darbar Dhaba Pure Veg'
 'Sri Foods South Indian' 'Udupi Eatery Multicuisine'
 'New Tiffins Pure Veg' 'Annapurna Foods Punjabi'
 'Udupi Curry House Chinese' 'Udupi Mess Family Restaurant'
 'Sai Kitchen South Indian' 'Annapurna Biryani Pure Veg'
 'Amma Biryani Family Restaurant' 'New Mess North Indian'
 'Royal Foods Multicuisine' 'Grand Eatery Non-Veg'
 'Ruchi Curry House Punjabi' 'Udupi Curry House Andhra'
 'Annapurna Mess Pure Veg' 'New Mess Punjabi' 'Darbar Cafe Pure Veg'
 'Hotel Restaurant North Indian' 'Udupi Mess Pure Veg'
 'Ruchi Eatery Family Restaurant' 'Udupi Cafe North Indian'
 'Grand Mess Chinese' 'Sri Biryani Punjabi' 'Sri Kitchen Chinese'
 'Darbar Tiffins Family Restaurant' 'Udupi Mess North Indian'
 'Amma Foods North Indian' 'Ruchi Cafe South Indian'
 'Sai Delights South Indian' 'Darbar Dhaba Punjabi' 'Ruchi Mess Andhra'
 'Annapurna Restaurant South Indian' 'Spice Biryani Multicuisine'
 'Sai Delights North Indian' 'Royal Curry House Non-Veg'
 'Classic Eatery South Indian' 'Sri Eatery South Indian'
 'Grand Eatery Family Restaurant' 'Grand Biryani Family Restaurant'
 'Grand Dhaba Non-Veg' 'Swagath Mess Non-Veg' 'Amma Dhaba Punjabi'
 'Amma Restaurant Family Restaurant' 'Classic Curry House Andhra'
 'Sai Biryani South Indian' 'Classic Mess Family Restaurant'
 'Spice Kitchen Pure Veg' 'New Dhaba Non-Veg'
 'Taste of Restaurant Family Restaurant' 'Classic Dhaba South Indian'
 'Ruchi Cafe Chinese' 'Sai Mess Multicuisine' 'Darbar Biryani Andhra'
 'Swagath Curry House Punjabi' 'Sai Delights Multicuisine'
 'Amma Eatery Punjabi' 'Darbar Curry House Family Restaurant'
 'Taste of Dhaba South Indian' 'Classic Cafe Andhra' 'Sri Eatery Chinese'
 'New Restaurant Chinese' 'Hotel Tiffins Pure Veg'
 'Sai Curry House South Indian' 'Ruchi Dhaba Pure Veg'
 'Udupi Kitchen Pure Veg' 'Classic Kitchen Family Restaurant'
 'Amma Kitchen Pure Veg' 'Darbar Tiffins Chinese' 'Ruchi Tiffins Chinese'
 'Classic Foods Pure Veg' 'New Restaurant North Indian'
 'Sai Mess North Indian' 'Hotel Biryani Andhra' 'New Biryani Andhra'
 'Sai Dhaba South Indian' 'Amma Delights Pure Veg' 'Spice Dhaba Andhra'
 'Amma Kitchen South Indian' 'Amma Mess Andhra'
 'Grand Delights Multicuisine' 'Swagath Biryani North Indian'
 'Spice Mess Non-Veg' 'Royal Kitchen Chinese' 'Classic Dhaba Pure Veg'
 'Grand Dhaba Chinese' 'Udupi Dhaba Pure Veg' 'Grand Dhaba Andhra'
 'Darbar Curry House Andhra' 'Annapurna Foods North Indian'
 'New Foods South Indian' 'Grand Mess Andhra'
 'Taste of Kitchen North Indian' 'Udupi Biryani Family Restaurant'
 'Swagath Dhaba Andhra' 'Darbar Eatery Andhra' 'Amma Eatery Chinese'
 'Sai Curry House North Indian' 'New Eatery South Indian'
 'Darbar Curry House North Indian' 'Ruchi Tiffins Punjabi'
 'Sai Curry House Multicuisine' 'Udupi Restaurant Family Restaurant'
 'Classic Tiffins Chinese' 'Darbar Tiffins Non-Veg'
 'Udupi Tiffins Punjabi' 'Grand Cafe Andhra'
 'Taste of Delights Multicuisine' 'Sri Restaurant Andhra'
 'Annapurna Foods Family Restaurant' 'Amma Curry House South Indian'
 'Classic Dhaba Andhra' 'Sai Cafe Family Restaurant'
 'Swagath Cafe Punjabi' 'Royal Tiffins North Indian'
 'Sai Eatery North Indian' 'Hotel Eatery Non-Veg' 'Amma Foods Chinese'
 'Classic Delights Pure Veg' 'Swagath Kitchen South Indian'
 'Udupi Delights North Indian' 'Udupi Biryani South Indian'
 'Hotel Dhaba Non-Veg' 'Sai Restaurant Andhra' 'Hotel Tiffins Andhra'
 'Grand Tiffins Andhra' 'Spice Eatery Family Restaurant'
 'Amma Cafe Pure Veg' 'Hotel Eatery Family Restaurant'
 'New Delights Family Restaurant' 'Sri Restaurant Family Restaurant'
 'Udupi Delights Multicuisine' 'Classic Delights Non-Veg'
 'New Dhaba Punjabi' 'Annapurna Cafe Multicuisine' 'Sai Tiffins Andhra'
 'Darbar Restaurant Andhra' 'Annapurna Curry House North Indian'
 'New Tiffins Andhra' 'New Eatery Punjabi' 'New Cafe South Indian'
 'Grand Restaurant Punjabi' 'Royal Restaurant Punjabi'
 'Classic Cafe Multicuisine' 'Hotel Dhaba Chinese' 'Ruchi Mess Punjabi'
 'Grand Restaurant Multicuisine' 'Darbar Cafe Punjabi' 'Sri Cafe Non-Veg'
 'Darbar Restaurant Punjabi' 'Spice Curry House Chinese'
 'Sri Delights Pure Veg' 'Darbar Kitchen Chinese'
 'Annapurna Curry House Pure Veg' 'New Kitchen Pure Veg'
 'Royal Restaurant Andhra' 'Ruchi Curry House North Indian'
 'Hotel Tiffins Punjabi' 'Ruchi Kitchen Punjabi' 'Sri Kitchen Punjabi'
 'Swagath Restaurant Chinese' 'Darbar Delights Family Restaurant'
 'Udupi Restaurant Pure Veg' 'Sri Biryani Non-Veg' 'Sri Mess Punjabi'
 'Ruchi Tiffins Pure Veg' 'Hotel Dhaba Multicuisine'
 'Ruchi Tiffins Non-Veg' 'Sai Foods Andhra'
 'Swagath Delights Family Restaurant' 'Grand Mess North Indian'
 'Spice Tiffins Non-Veg' 'Ruchi Dhaba Non-Veg'
 'Classic Biryani North Indian' 'Darbar Mess Multicuisine'
 'Taste of Cafe Punjabi' 'Spice Curry House South Indian'
 'New Mess Non-Veg' 'Taste of Mess Punjabi' 'Grand Mess Multicuisine'
 'Taste of Cafe Andhra' 'Annapurna Tiffins Chinese'
 'Ruchi Curry House South Indian' 'Grand Tiffins Non-Veg']

In [68]:
restaurant_cuisine.update({
    'Some Restaurant Name': 'Italian',  # Replace with correct cuisine
    'Another Restaurant': 'Indian'
    # Add all missing restaurants here
})

In [69]:
final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

In [72]:
#Fill in the blanks
gold_orders = final_dataset[final_dataset['membership'] == 'Gold']

In [73]:
total_gold_orders = gold_orders.shape[0]  # Number of rows/orders
print(f"Total orders placed by Gold members: {total_gold_orders}")

Total orders placed by Gold members: 4987

In [74]:
hyderabad_orders = final_dataset[final_dataset['city'] == 'Hyderabad']

In [75]:
total_revenue_hyderabad = round(hyderabad_orders['total_amount'].sum())
print(f"Total revenue from Hyderabad: {total_revenue_hyderabad}")

Total revenue from Hyderabad: 1889367

In [76]:
distinct_users = final_dataset['user_id'].nunique()
print(f"Number of distinct users who placed at least one order: {distinct_users}")

Number of distinct users who placed at least one order: 2883

In [77]:
gold_orders = final_dataset[final_dataset['membership'] == 'Gold']

In [78]:
avg_order_value_gold = round(gold_orders['total_amount'].mean(), 2)
print(f"Average order value for Gold members: {avg_order_value_gold}")

Average order value for Gold members: 797.15

In [79]:
# Example: Add dummy ratings randomly (for demo only)
import numpy as np
np.random.seed(0)
final_dataset['restaurant_rating'] = np.random.uniform(3.0, 5.0, size=len(final_dataset))

# Now we can count orders  4.5
high_rating_orders = final_dataset[final_dataset['restaurant_rating'] >= 4.5].shape[0]
print(high_rating_orders)

2483

In [80]:
gold_members = final_dataset[final_dataset['membership'] == 'Gold']

In [81]:
city_revenue = gold_members.groupby('city')['total_amount'].sum().reset_index()
top_city = city_revenue.sort_values(by='total_amount', ascending=False).iloc[0]['city']
print(f"Top revenue city among Gold members: {top_city}")

Top revenue city among Gold members: Chennai

In [82]:
orders_in_top_city = gold_members[gold_members['city'] == top_city].shape[0]
print(f"Number of orders in {top_city} by Gold members: {orders_in_top_city}")

Number of orders in Chennai by Gold members: 1337

In [83]:
import pandas as pd

# ----------------------------
# Step 1: Load datasets
# ----------------------------
orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

# ----------------------------
# Step 2: Merge on user_id
# ----------------------------
# Left join to keep all orders
merged_data = pd.merge(orders, users, on='user_id', how='left')

# ----------------------------
# Step 3: Check result
# ----------------------------
print(merged_data.head())
print("\nColumns in merged dataset:", merged_data.columns)

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name       name       city membership
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

Columns in merged dataset: Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership'],
      dtype='object')

In [89]:
import pandas as pd

# ----------------------------
# Step 1: Load the final merged dataset
# ----------------------------
final_dataset = pd.read_csv("final_food_delivery_dataset.csv")

# ----------------------------
# Step 2: Initial cuisine mapping (known restaurants)
# ----------------------------
restaurant_cuisine = {
    'Tandoori Delight': 'Indian',
    'Dragon Wok': 'Chinese',
    'Pasta House': 'Italian',
    'Mexicana': 'Mexican'
    # Add any known restaurants here
}

# ----------------------------
# Step 3: Detect unmapped restaurants
# ----------------------------
all_restaurants = final_dataset['restaurant_name'].unique()
missing_restaurants = [r for r in all_restaurants if r not in restaurant_cuisine]

print("Restaurants missing cuisine mapping:", missing_restaurants)

# ----------------------------
# Step 4: Manually assign cuisines to missing restaurants
# Replace 'Indian', 'Chinese', etc. as appropriate
# ----------------------------
for r in missing_restaurants:
    # Example assignment, update as per actual restaurant
    if 'Punjabi' in r or 'Mess' in r:
        restaurant_cuisine[r] = 'Indian'
    elif 'Chinese' in r:
        restaurant_cuisine[r] = 'Chinese'
    elif 'Italian' in r or 'Pasta' in r:
        restaurant_cuisine[r] = 'Italian'
    else:
        restaurant_cuisine[r] = 'Other'  # fallback

# ----------------------------
# Step 5: Map cuisine_type
# ----------------------------
final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

# ----------------------------
# Step 6: Calculate average order value per cuisine
# ----------------------------
avg_order_value = final_dataset.groupby('cuisine_type')['total_amount'].mean().reset_index()
avg_order_value = avg_order_value.sort_values(by='total_amount', ascending=False).reset_index(drop=True)

print("\nAverage order value by cuisine:")
print(avg_order_value)

# ----------------------------
# Step 7: Top cuisine
# ----------------------------
top_cuisine = avg_order_value.iloc[0]['cuisine_type']
top_avg_value = avg_order_value.iloc[0]['total_amount']
print(f"\nCuisine with highest average order value: {top_cuisine} ({top_avg_value:.2f})")

Restaurants missing cuisine mapping: ['New Foods Chinese', 'Ruchi Curry House Multicuisine', 'Spice Kitchen Punjabi', 'Darbar Kitchen Non-Veg', 'Royal Eatery South Indian', 'Annapurna Tiffins South Indian', 'Royal Biryani North Indian', 'Spice Mess Punjabi', 'Ruchi Biryani Punjabi', 'Taste of Biryani Non-Veg', 'Amma Delights Family Restaurant', 'Royal Tiffins Multicuisine', 'Amma Tiffins South Indian', 'Grand Cafe Punjabi', 'Amma Biryani North Indian', 'Amma Restaurant South Indian', 'Ruchi Foods Chinese', 'Darbar Delights South Indian', 'Spice Mess Andhra', 'Udupi Curry House South Indian', 'Darbar Restaurant North Indian', 'Sri Tiffins Andhra', 'Darbar Mess Pure Veg', 'Amma Kitchen Punjabi', 'Annapurna Kitchen Family Restaurant', 'New Cafe North Indian', 'Swagath Cafe Multicuisine', 'Ruchi Foods South Indian', 'Annapurna Eatery Non-Veg', 'Amma Restaurant Pure Veg', 'Amma Dhaba Non-Veg', 'Classic Curry House South Indian', 'Annapurna Foods Non-Veg', 'Darbar Biryani Pure Veg', 'Ruchi Dhaba Multicuisine', 'Amma Cafe Non-Veg', 'Spice Tiffins Family Restaurant', 'Sri Delights Non-Veg', 'Sri Curry House Andhra', 'Annapurna Biryani South Indian', 'Royal Foods Non-Veg', 'Sri Foods Chinese', 'Classic Tiffins Punjabi', 'Amma Foods Family Restaurant', 'Swagath Kitchen North Indian', 'Amma Mess Pure Veg', 'New Delights North Indian', 'Grand Curry House Family Restaurant', 'Hotel Cafe Punjabi', 'Annapurna Delights Multicuisine', 'Darbar Eatery Family Restaurant', 'Spice Biryani Punjabi', 'Swagath Delights Andhra', 'Royal Dhaba Punjabi', 'Hotel Mess Punjabi', 'Sai Delights Chinese', 'Royal Restaurant South Indian', 'Udupi Kitchen Chinese', 'Annapurna Eatery South Indian', 'Hotel Curry House Non-Veg', 'Spice Kitchen North Indian', 'Swagath Delights Punjabi', 'Grand Cafe Family Restaurant', 'Amma Cafe North Indian', 'New Foods Multicuisine', 'Hotel Delights Chinese', 'Sai Curry House Punjabi', 'Spice Mess Chinese', 'Ruchi Mess Family Restaurant', 'Classic Cafe Family Restaurant', 'Hotel Eatery Pure Veg', 'Classic Dhaba Punjabi', 'Sri Dhaba Pure Veg', 'Sri Kitchen Family Restaurant', 'Amma Delights Chinese', 'Hotel Curry House Chinese', 'Spice Cafe Pure Veg', 'Ruchi Mess Multicuisine', 'Hotel Cafe Multicuisine', 'Hotel Biryani Pure Veg', 'Royal Curry House Multicuisine', 'Annapurna Restaurant Pure Veg', 'Royal Kitchen Family Restaurant', 'Classic Delights North Indian', 'Taste of Dhaba Andhra', 'Sai Restaurant Family Restaurant', 'New Biryani Family Restaurant', 'Taste of Kitchen Family Restaurant', 'Taste of Biryani Punjabi', 'Annapurna Biryani Non-Veg', 'Classic Tiffins Pure Veg', 'New Dhaba South Indian', 'Grand Cafe Chinese', 'Taste of Biryani Andhra', 'Spice Cafe South Indian', 'Udupi Foods South Indian', 'Swagath Dhaba Punjabi', 'Amma Biryani South Indian', 'Swagath Delights Multicuisine', 'Grand Restaurant Pure Veg', 'Annapurna Tiffins Punjabi', 'Ruchi Curry House Andhra', 'Royal Tiffins Family Restaurant', 'Grand Biryani Pure Veg', 'Darbar Foods Andhra', 'Taste of Tiffins North Indian', 'Amma Eatery Non-Veg', 'Hotel Curry House Punjabi', 'Udupi Delights Family Restaurant', 'Annapurna Foods Multicuisine', 'Spice Curry House Andhra', 'Darbar Restaurant Family Restaurant', 'Sai Biryani Non-Veg', 'Annapurna Biryani Andhra', 'Classic Biryani Chinese', 'Amma Curry House Family Restaurant', 'Classic Delights Multicuisine', 'Royal Delights South Indian', 'Annapurna Biryani Multicuisine', 'Sai Tiffins Chinese', 'Udupi Mess Andhra', 'Annapurna Tiffins Pure Veg', 'Classic Biryani Pure Veg', 'Classic Biryani Multicuisine', 'Annapurna Restaurant Andhra', 'Grand Mess Punjabi', 'New Curry House South Indian', 'Sri Curry House Chinese', 'Grand Dhaba South Indian', 'Sri Cafe North Indian', 'Ruchi Curry House Pure Veg', 'Taste of Kitchen Chinese', 'Classic Delights Family Restaurant', 'Swagath Delights South Indian', 'Sai Dhaba Family Restaurant', 'Ruchi Mess Non-Veg', 'Darbar Eatery North Indian', 'Hotel Delights Multicuisine', 'Annapurna Mess Non-Veg', 'Hotel Cafe South Indian', 'Grand Restaurant Non-Veg', 'Swagath Foods Punjabi', 'Sri Biryani Family Restaurant', 'Ruchi Tiffins Multicuisine', 'Ruchi Eatery North Indian', 'Swagath Restaurant North Indian', 'Sai Eatery Andhra', 'Grand Restaurant South Indian', 'Spice Tiffins North Indian', 'Sai Biryani Multicuisine', 'Ruchi Dhaba Chinese', 'Grand Tiffins South Indian', 'Taste of Eatery Andhra', 'Grand Curry House Andhra', 'Amma Curry House Punjabi', 'Sai Cafe North Indian', 'Sri Foods Non-Veg', 'Annapurna Biryani Family Restaurant', 'Sai Foods Pure Veg', 'Hotel Kitchen Multicuisine', 'New Dhaba Family Restaurant', 'Swagath Mess Pure Veg', 'Swagath Tiffins Chinese', 'Annapurna Curry House Multicuisine', 'Udupi Kitchen Multicuisine', 'Annapurna Cafe Andhra', 'Spice Foods Non-Veg', 'Classic Mess Punjabi', 'Sai Foods Family Restaurant', 'Spice Tiffins Chinese', 'Grand Kitchen Non-Veg', 'Sai Delights Non-Veg', 'Ruchi Cafe Punjabi', 'Spice Delights Family Restaurant', 'Sai Cafe South Indian', 'Spice Dhaba Non-Veg', 'Darbar Delights Andhra', 'Spice Delights Andhra', 'Taste of Eatery Punjabi', 'Spice Tiffins Pure Veg', 'Royal Tiffins Punjabi', 'New Dhaba Pure Veg', 'Annapurna Delights Andhra', 'Annapurna Tiffins North Indian', 'Udupi Delights Non-Veg', 'Darbar Restaurant Multicuisine', 'Darbar Foods Multicuisine', 'Swagath Curry House Chinese', 'Ruchi Restaurant South Indian', 'Sai Foods Non-Veg', 'Taste of Delights Non-Veg', 'Darbar Tiffins Andhra', 'Taste of Biryani North Indian', 'Sri Mess North Indian', 'Sai Restaurant Non-Veg', 'Royal Kitchen North Indian', 'Swagath Mess Multicuisine', 'Grand Restaurant North Indian', 'Swagath Eatery Multicuisine', 'Ruchi Foods Multicuisine', 'Spice Biryani Non-Veg', 'Sai Cafe Andhra', 'Hotel Curry House North Indian', 'Swagath Mess Chinese', 'Darbar Mess Chinese', 'Sai Restaurant South Indian', 'Spice Delights Multicuisine', 'Amma Cafe South Indian', 'Spice Restaurant Non-Veg', 'Swagath Biryani Non-Veg', 'Classic Tiffins North Indian', 'Royal Kitchen South Indian', 'Sri Curry House North Indian', 'Udupi Dhaba Non-Veg', 'Swagath Foods Chinese', 'Hotel Delights South Indian', 'Amma Mess Multicuisine', 'Udupi Eatery North Indian', 'Classic Cafe Punjabi', 'Swagath Foods Andhra', 'New Tiffins Non-Veg', 'Ruchi Foods Family Restaurant', 'Ruchi Delights South Indian', 'Amma Foods Non-Veg', 'Hotel Foods Multicuisine', 'Grand Tiffins Multicuisine', 'Swagath Tiffins Punjabi', 'Ruchi Cafe Multicuisine', 'Swagath Tiffins Andhra', 'Amma Mess Punjabi', 'Sai Delights Pure Veg', 'Sai Mess Andhra', 'Grand Kitchen Punjabi', 'Annapurna Mess Andhra', 'Swagath Cafe Non-Veg', 'Udupi Restaurant South Indian', 'Darbar Eatery Pure Veg', 'Royal Tiffins Pure Veg', 'Taste of Mess Chinese', 'New Mess Andhra', 'Royal Eatery Family Restaurant', 'Ruchi Restaurant Punjabi', 'Hotel Biryani North Indian', 'Hotel Restaurant Non-Veg', 'Royal Tiffins Chinese', 'New Biryani North Indian', 'Annapurna Kitchen North Indian', 'Annapurna Restaurant Punjabi', 'Sri Tiffins North Indian', 'Darbar Dhaba Pure Veg', 'Sri Foods South Indian', 'Udupi Eatery Multicuisine', 'New Tiffins Pure Veg', 'Annapurna Foods Punjabi', 'Udupi Curry House Chinese', 'Udupi Mess Family Restaurant', 'Sai Kitchen South Indian', 'Annapurna Biryani Pure Veg', 'Amma Biryani Family Restaurant', 'New Mess North Indian', 'Royal Foods Multicuisine', 'Grand Eatery Non-Veg', 'Ruchi Curry House Punjabi', 'Udupi Curry House Andhra', 'Annapurna Mess Pure Veg', 'New Mess Punjabi', 'Darbar Cafe Pure Veg', 'Hotel Restaurant North Indian', 'Udupi Mess Pure Veg', 'Ruchi Eatery Family Restaurant', 'Udupi Cafe North Indian', 'Grand Mess Chinese', 'Sri Biryani Punjabi', 'Sri Kitchen Chinese', 'Darbar Tiffins Family Restaurant', 'Udupi Mess North Indian', 'Amma Foods North Indian', 'Ruchi Cafe South Indian', 'Sai Delights South Indian', 'Darbar Dhaba Punjabi', 'Ruchi Mess Andhra', 'Annapurna Restaurant South Indian', 'Spice Biryani Multicuisine', 'Sai Delights North Indian', 'Royal Curry House Non-Veg', 'Classic Eatery South Indian', 'Sri Eatery South Indian', 'Grand Eatery Family Restaurant', 'Grand Biryani Family Restaurant', 'Grand Dhaba Non-Veg', 'Swagath Mess Non-Veg', 'Amma Dhaba Punjabi', 'Amma Restaurant Family Restaurant', 'Classic Curry House Andhra', 'Sai Biryani South Indian', 'Classic Mess Family Restaurant', 'Spice Kitchen Pure Veg', 'New Dhaba Non-Veg', 'Taste of Restaurant Family Restaurant', 'Classic Dhaba South Indian', 'Ruchi Cafe Chinese', 'Sai Mess Multicuisine', 'Darbar Biryani Andhra', 'Swagath Curry House Punjabi', 'Sai Delights Multicuisine', 'Amma Eatery Punjabi', 'Darbar Curry House Family Restaurant', 'Taste of Dhaba South Indian', 'Classic Cafe Andhra', 'Sri Eatery Chinese', 'New Restaurant Chinese', 'Hotel Tiffins Pure Veg', 'Sai Curry House South Indian', 'Ruchi Dhaba Pure Veg', 'Udupi Kitchen Pure Veg', 'Classic Kitchen Family Restaurant', 'Amma Kitchen Pure Veg', 'Darbar Tiffins Chinese', 'Ruchi Tiffins Chinese', 'Classic Foods Pure Veg', 'New Restaurant North Indian', 'Sai Mess North Indian', 'Hotel Biryani Andhra', 'New Biryani Andhra', 'Sai Dhaba South Indian', 'Amma Delights Pure Veg', 'Spice Dhaba Andhra', 'Amma Kitchen South Indian', 'Amma Mess Andhra', 'Grand Delights Multicuisine', 'Swagath Biryani North Indian', 'Spice Mess Non-Veg', 'Royal Kitchen Chinese', 'Classic Dhaba Pure Veg', 'Grand Dhaba Chinese', 'Udupi Dhaba Pure Veg', 'Grand Dhaba Andhra', 'Darbar Curry House Andhra', 'Annapurna Foods North Indian', 'New Foods South Indian', 'Grand Mess Andhra', 'Taste of Kitchen North Indian', 'Udupi Biryani Family Restaurant', 'Swagath Dhaba Andhra', 'Darbar Eatery Andhra', 'Amma Eatery Chinese', 'Sai Curry House North Indian', 'New Eatery South Indian', 'Darbar Curry House North Indian', 'Ruchi Tiffins Punjabi', 'Sai Curry House Multicuisine', 'Udupi Restaurant Family Restaurant', 'Classic Tiffins Chinese', 'Darbar Tiffins Non-Veg', 'Udupi Tiffins Punjabi', 'Grand Cafe Andhra', 'Taste of Delights Multicuisine', 'Sri Restaurant Andhra', 'Annapurna Foods Family Restaurant', 'Amma Curry House South Indian', 'Classic Dhaba Andhra', 'Sai Cafe Family Restaurant', 'Swagath Cafe Punjabi', 'Royal Tiffins North Indian', 'Sai Eatery North Indian', 'Hotel Eatery Non-Veg', 'Amma Foods Chinese', 'Classic Delights Pure Veg', 'Swagath Kitchen South Indian', 'Udupi Delights North Indian', 'Udupi Biryani South Indian', 'Hotel Dhaba Non-Veg', 'Sai Restaurant Andhra', 'Hotel Tiffins Andhra', 'Grand Tiffins Andhra', 'Spice Eatery Family Restaurant', 'Amma Cafe Pure Veg', 'Hotel Eatery Family Restaurant', 'New Delights Family Restaurant', 'Sri Restaurant Family Restaurant', 'Udupi Delights Multicuisine', 'Classic Delights Non-Veg', 'New Dhaba Punjabi', 'Annapurna Cafe Multicuisine', 'Sai Tiffins Andhra', 'Darbar Restaurant Andhra', 'Annapurna Curry House North Indian', 'New Tiffins Andhra', 'New Eatery Punjabi', 'New Cafe South Indian', 'Grand Restaurant Punjabi', 'Royal Restaurant Punjabi', 'Classic Cafe Multicuisine', 'Hotel Dhaba Chinese', 'Ruchi Mess Punjabi', 'Grand Restaurant Multicuisine', 'Darbar Cafe Punjabi', 'Sri Cafe Non-Veg', 'Darbar Restaurant Punjabi', 'Spice Curry House Chinese', 'Sri Delights Pure Veg', 'Darbar Kitchen Chinese', 'Annapurna Curry House Pure Veg', 'New Kitchen Pure Veg', 'Royal Restaurant Andhra', 'Ruchi Curry House North Indian', 'Hotel Tiffins Punjabi', 'Ruchi Kitchen Punjabi', 'Sri Kitchen Punjabi', 'Swagath Restaurant Chinese', 'Darbar Delights Family Restaurant', 'Udupi Restaurant Pure Veg', 'Sri Biryani Non-Veg', 'Sri Mess Punjabi', 'Ruchi Tiffins Pure Veg', 'Hotel Dhaba Multicuisine', 'Ruchi Tiffins Non-Veg', 'Sai Foods Andhra', 'Swagath Delights Family Restaurant', 'Grand Mess North Indian', 'Spice Tiffins Non-Veg', 'Ruchi Dhaba Non-Veg', 'Classic Biryani North Indian', 'Darbar Mess Multicuisine', 'Taste of Cafe Punjabi', 'Spice Curry House South Indian', 'New Mess Non-Veg', 'Taste of Mess Punjabi', 'Grand Mess Multicuisine', 'Taste of Cafe Andhra', 'Annapurna Tiffins Chinese', 'Ruchi Curry House South Indian', 'Grand Tiffins Non-Veg']

Average order value by cuisine:
  cuisine_type  total_amount
0      Chinese    813.335276
1       Indian    804.847948
2        Other    798.611661

Cuisine with highest average order value: Chinese (813.34)

In [91]:
import pandas as pd
import numpy as np

# ----------------------------
# Step 1: Load final dataset
# ----------------------------
final_dataset = pd.read_csv("final_food_delivery_dataset.csv")

# ----------------------------
# Step 2: Simulate restaurant ratings (3.0 to 5.0)
# ----------------------------
np.random.seed(0)  # for reproducibility
final_dataset['restaurant_rating'] = np.random.uniform(3.0, 5.0, size=len(final_dataset))

# ----------------------------
# Step 3: Create rating bins
# ----------------------------
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.03.5', '3.64.0', '4.14.5', '4.65.0']
final_dataset['rating_range'] = pd.cut(final_dataset['restaurant_rating'], bins=bins, labels=labels, include_lowest=True)

# ----------------------------
# Step 4: Calculate total revenue by rating range
# ----------------------------
revenue_by_rating = final_dataset.groupby('rating_range')['total_amount'].sum().reset_index()
revenue_by_rating = revenue_by_rating.sort_values(by='total_amount', ascending=False).reset_index(drop=True)

print("Total revenue by restaurant rating range:")
print(revenue_by_rating)

top_range = revenue_by_rating.iloc[0]['rating_range']
print(f"\nRating range generating highest total revenue: {top_range}")

Total revenue by restaurant rating range:
  rating_range  total_amount
0      3.64.0    2039733.32
1      3.03.5    2034715.41
2      4.65.0    1984559.73
3      4.14.5    1952615.66

Rating range generating highest total revenue: 3.64.0

/tmp/ipython-input-1973433402.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_by_rating = final_dataset.groupby('rating_range')['total_amount'].sum().reset_index()

In [92]:
import pandas as pd

# Load the final dataset
final_dataset = pd.read_csv("final_food_delivery_dataset.csv")

# ----------------------------
# Step 1: Map restaurants to cuisines (ensure correct mapping)
# ----------------------------
restaurant_cuisine = {
    'Tandoori Delight': 'Indian',
    'Dragon Wok': 'Chinese',
    'Pasta House': 'Italian',
    'Mexicana': 'Mexican',
    'Grand Cafe Punjabi': 'Indian',
    'Grand Restaurant South Indian': 'Indian',
    'Ruchi Mess Multicuisine': 'Indian',
    'Ruchi Foods Chinese': 'Chinese'
    # Add all other restaurants from your dataset
}

final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

# ----------------------------
# Step 2: Count distinct restaurants per cuisine
# ----------------------------
distinct_restaurants = final_dataset.groupby('cuisine_type')['restaurant_name'].nunique().reset_index()
distinct_restaurants.rename(columns={'restaurant_name':'num_restaurants'}, inplace=True)

# ----------------------------
# Step 3: Calculate total revenue per cuisine
# ----------------------------
total_revenue = final_dataset.groupby('cuisine_type')['total_amount'].sum().reset_index()
total_revenue.rename(columns={'total_amount':'total_revenue'}, inplace=True)

# ----------------------------
# Step 4: Merge the two metrics
# ----------------------------
cuisine_summary = pd.merge(distinct_restaurants, total_revenue, on='cuisine_type')
cuisine_summary = cuisine_summary.sort_values(by='num_restaurants')

print(cuisine_summary)

  cuisine_type  num_restaurants  total_revenue
0      Chinese                1       13045.46
1       Indian                3       82976.60

In [94]:
import pandas as pd

# Load final dataset
final_dataset = pd.read_csv("final_food_delivery_dataset.csv")

# ----------------------------
# Step 1: Ensure cuisine_type exists
# (Map restaurants to cuisines if needed)
# ----------------------------
restaurant_cuisine = {
    'Tandoori Delight': 'Indian',
    'Dragon Wok': 'Chinese',
    'Pasta House': 'Italian',
    'Mexicana': 'Mexican',
    'Grand Cafe Punjabi': 'Indian',
    'Grand Restaurant South Indian': 'Indian',
    'Ruchi Mess Multicuisine': 'Indian',
    'Ruchi Foods Chinese': 'Chinese'
    # Add other restaurants from your dataset
}

final_dataset['cuisine_type'] = final_dataset['restaurant_name'].map(restaurant_cuisine)

# ----------------------------
# Step 2: Group by membership + cuisine and sum revenue
# ----------------------------
combo_revenue = final_dataset.groupby(['membership','cuisine_type'])['total_amount'].sum().reset_index()

# Sort descending by total revenue
combo_revenue = combo_revenue.sort_values(by='total_amount', ascending=False).reset_index(drop=True)

# ----------------------------
# Step 3: Top combination
# ----------------------------
top_combo = combo_revenue.iloc[0]
print(f"Top revenue combination: {top_combo['membership']} + {top_combo['cuisine_type']} ({top_combo['total_amount']:.2f})")

Top revenue combination: Regular + Indian (45363.41)